body {
    background-color: blue;
    color: white;
}

.jumbotron {
    margin: 20px;
    background-image: url("imgages/nasa.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}

.form-control {
    display: inline-block;
    width: 145px;
}

table {
    table-layout: fixed;
    background-color: black;
    color: white;
}